.fab {
  margin: 18px;
  padding: 6px;
}

.bold {
  font-weight: bold;
}

.padding-light {
  padding: 5px;
}

.padding-medium {
  padding: 10px;
}

.padding-large {
  padding: 15px;
}

.folder-list {
  background-color: transparent;
  margin: 5px;
}

.folder-list > row {
  padding: 10px;
  border-radius: 8px;
}

.folder-list-unread {
  background: alpha(currentColor, .07);
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: smaller;
  font-weight: bold;
}

.folder-list-unread.important {
  background: @accent_bg_color;
  color: @accent_fg_color;
}

.conversation-listview row:not(:first-child) {
  border: solid @borders;
  border-top-width: 1px;
}

row .conversation-listview-item {
  padding: 8px;
}

row .conversation-listview-item .from {

}

row .conversation-listview-item .subject {
  font-size: 0.9em;
  padding-left: 0.5em;
}

row .conversation-listview-item .date {
  font-size: 0.9em;
}

row .conversation-listview-item .preview {
  font-size: 0.9em;
  padding-left: 0.6em;
  opacity: 0.7;
}

row .conversation-listview-item .count {
  background: alpha(currentColor, .1);
  border-radius: 50px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: smaller;
  font-weight: bold;
}
